#heading
{
    background-color:lemonchiffon;
    padding: 1px;
}
#cv-form
{
    background-color:whitesmoke
}
h4
{
    color:steelblue
}

#cv-form
{
    
}
#cv-template
{
    display: none;
}

.background
{
    background-color:seashell
}